

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    width: 100%;
    height: 100%;
}

.hidden-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
   
    height: 50vh;
    
    background-color: #f0f4f8;
    
    font-family: 'Roboto', sans-serif;
    border-bottom: 2px solid #6a1b9a;

}

h1 {
    font-size: 2rem;
    color: #6a1b9a;
    margin-bottom: 10px;
}

.hidden-word,
.typed-word {
    background-color: #fff;
    padding: 15px 20px;
    margin: 10px 0;

    border: 2px solid #6a1b9a;
    border-radius: 8px;
    font-size: 1.5rem;
    color: #8e24aa;
    text-align: center;
    width: 80%;

}